<!DOCTYPE html>
 {%load staticfiles%}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>我的活动</title>
</head>
<style type="text/css">
    .welcome {
        width:500px;
        text-align:center;
    }

    a:link, a:visited {
    	color:green;
    }
    a:hover, a:active {
    	font-size:1.2em;
        color:red;
    }
    div {
    	font-family:KaiTi;
		font-size:1.2em;
        padding:10px;
    }
    a {
    	text-decoration:none;
    }
</style>
<body>
<body>
     <div class="welcome">
     </div>
     <%for activity in activities%>
     <div>
         <span>
             活动名称
         </span>
          <span>
            {{activity.act_name}}
          </span>
      </div>
     <div>
         <span>
             举办方
         </span>
         <span>
            {{activity.hoster}}
         </span>
     </div>
     <div>
         <span>
             简介
         </span>
         <span>
             {{activity.introduction}}
         </span>
     </div>
     <%endfor%>
      <div id="tool_list">
      	<a href="self_info">个人信息</a>
      </div>
      <div id="activity">
      	<a href="acitivity">查看活动</a>
      </div>
      <div id="inform">
      	<a href="inform">通知</a>
      </div>
      <div id="logout">
      	<a href="logout">退出</a>
      </div>
</body>
</body>

</html>