<!DOCTYPE html>
 {%load staticfiles%}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>我的活动</title>
</head>
<style type="text/css">
    .welcome {
        width:500px;
        text-align:center;
    }

    a:link, a:visited {
    	color:green;
    }
    a {
    	text-decoration:none;
    }
</style>
<body>
<body>
     <div class="welcome">
         Hello, how should I call you?
         A magical contest is being held now.
         But I bet you will lose this one in thousand year chance.
     </div>
     {% for activity in activities %}
     <div>
         <span>
             活动名称
         </span>
          <span>
            {{activity.act_name}}
          </span>
      </div>
     <div>
         <span>
             举办方
         </span>
         <span>
            {{activity.hoster}}
         </span>
     </div>
     <div>
         <span>
             简介
         </span>
         <span>
             {{activity.introduction}}
         </span>
     </div>

     <form action="join_activity" method="POST">
         {% csrf_token %}
         <div>

         </div>
     </form>
     {% endfor %}
</body>
</body>

</html>