<!DOCTYPE html>
{%load staticfiles%}
<meta charset="utf-8">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>登陆</title>
</head>
<style type="text/css">
    #login_table {
        position:absolute;
        width: 300px;
        height:200px;
        left:50%;
        top:50%;
        margin-top:-100px;
        margin-left:-150px;
        border:1px blue solid;
    }
    span:nth-child(1) {
        margin-left:100px;
        margin-top:20px;
    }
    input[type="text"], input[type="password"] {
        width:200px;
    }
    div {
        margin:20px;
    }
    input[type="submit"] {
        float:left;
        margin-left:20px;
    }
</style>
<body>
     <div id="login_table">
     <span>社团管理系统</span>
     <form  action="home" method="post" name="form">
      {% csrf_token %}
     <div>
     账号：<input type="text" value="13332049" size=20 name="username">
     </div>
     <div>密码：<input type="password"  value="slimmer2" size=21 name="password">
     </div>
     <input type="submit" value="登陆">
     </form>
     <form  action="register" method="post" name="form">
      {% csrf_token %}
     <input type="submit" value="注册">
     </form>
    </div>
</body>

</html>