<!DOCTYPE html>
{%load staticfiles%}
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <title>
        通知
    </title>
    <style>
        div {
            left:50%;
        }
    </style>
</head>
<body>
    <div>
        通知页面
    </div>
    {% for inform in informs %}
        <div>
            Your password: {{user.password}}
        </div>
        <div>
            Your Age: {{user.age}}
        </div>
        <div>
            Your Major: {{user.major}}
        </div>
    {% endfor %}
</body>
</html>

